# Dependencies
node_modules

# Build products
build
coverage
dist
lib
.next
storybook-static
*.tgz

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
.env
npm-debug.log
.eslintcache
