@use "../../../styles/common";

.RadioGroup {
  @include common.base;

  --radio-group-spacing: 1rem;

  display: flex;
  gap: var(--radio-group-spacing);
  flex-wrap: wrap;
}

/* Direction */
.RadioGroup__directionHorizontal {
  flex-direction: row;
}

.RadioGroup__directionVertical {
  flex-direction: column;
}
