@use "../../../styles/common";

.CheckboxGroup {
  @include common.base;

  --checkbox-group-spacing: 1rem;

  display: flex;
  gap: var(--checkbox-group-spacing);
  flex-wrap: wrap;
}

/* Direction */
.CheckboxGroup__directionHorizontal {
  flex-direction: row;
}

.CheckboxGroup__directionVertical {
  flex-direction: column;
}
