@use "../../styles/common";

.Stack {
  @include common.base;

  --stack-spacing: 0;
  --stack-direction: row;
  --stack-align-items: stretch;
  --stack-justify-content: flex-start;
  --stack-wrap: nowrap;
  --stack-width: auto;

  display: flex;
  align-items: var(--stack-align-items);
  justify-content: var(--stack-justify-content);
  flex-direction: var(--stack-direction);
  gap: var(--stack-spacing);
  flex-wrap: var(--stack-wrap);
  width: var(--stack-width);
}

.Stack__inline {
  display: inline-flex;
}

.Stack__fullWidth {
  --stack-width: 100%;
}
