@use "../../styles/common";

.Grid {
  @include common.base;

  --grid-spacing: 0;
  --grid-direction: row;
  --grid-min-width: 200px;
  --grid-max-width: 1fr;
  --grid-width: auto;
  --grid-height: auto;
  --grid-item-width: 1fr;
  --grid-item-height: 1fr;

  display: grid;
  grid-auto-flow: var(--grid-direction);
  grid-auto-columns: 1fr;
  gap: var(--grid-spacing);
  width: var(--grid-width);
  height: var(--grid-height);
  align-items: stretch;
  justify-content: inherit;
}

.Grid__inline {
  display: inline-grid;
}

.Grid__hasColumns {
  grid-template-columns: repeat(var(--grid-columns), var(--grid-item-width));
}

.Grid__hasRows {
  grid-template-rows: repeat(var(--grid-rows), var(--grid-item-height));
}

.Grid__auto:not(.Grid__hasColumns, .Grid__hasRows) {
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--grid-min-width), var(--grid-max-width))
  );
}

.GridItem {
  --grid-column-span: auto;
  --grid-row-span: auto;

  grid-column-end: span var(--grid-column-span);
  grid-row-end: span var(--grid-row-span);
}
