@use "../../styles/common";

.Grid {
  @include common.base;

  --grid-spacing: 0;
  --grid-min-width: 200px;

  display: grid;
  grid-auto-columns: var(--grid-item-width);
  gap: var(--grid-spacing);
}

.Grid__inline {
  display: inline-grid;
}

.Grid__dense {
  grid-auto-flow: dense;
}

.Grid__hasColumns {
  grid-template-columns: repeat(var(--grid-columns), 1fr);
}

.Grid__hasRows {
  grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.Grid__auto:not(.Grid__hasColumns, .Grid__hasRows) {
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-min-width), 1fr));
}

.GridItem {
  --grid-column-span: auto;
  --grid-row-span: auto;

  grid-column-end: span var(--grid-column-span);
  grid-row-end: span var(--grid-row-span);
}
