@mixin colors {
  --boldui-color-primary: #3366ff;
  --boldui-color-error: #d03022;
  --boldui-color-error-25: #fef6f6;
  --boldui-color-success: #0c8c60;
  --boldui-color-success-25: #f0fcf9;
  --boldui-color-warning: #dba301;
  --boldui-color-warning-25: #fff8f0;

  /* Grey */
  --boldui-color-grey-900: #101828;
  --boldui-color-grey-800: #1d2939;
  --boldui-color-grey-700: #344054;
  --boldui-color-grey-600: #475467;
  --boldui-color-grey-500: #667085;
  --boldui-color-grey-400: #96a1b5;
  --boldui-color-grey-300: #bbc7da;
  --boldui-color-grey-200: #dce5f2;
  --boldui-color-grey-100: #f2f4f7;
  --boldui-color-grey-50: #f9fafb;
  --boldui-color-grey-25: #fcfcfd;
}

@mixin typography {
  --boldui-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@mixin layout {
  --boldui-spacing-base-unit: 0.25rem;
}

@mixin transition {
  --boldui-transition-duration-ultra-fast: 50ms;
  --boldui-transition-duration-faster: 100ms;
  --boldui-transition-duration-fast: 150ms;
  --boldui-transition-duration-normal: 200ms;
  --boldui-transition-duration-slow: 300ms;
  --boldui-transition-duration-slower: 400ms;
  --boldui-transition-duration-ultra-slow: 500ms;
  --boldui-transition-easing-ease: ease;
  --boldui-transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --boldui-transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --boldui-transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin zIndex {
  --boldui-zindex-hide: -1;
  --boldui-zindex-auto: auto;
  --boldui-zindex-base: 0;
  --boldui-zindex-docked: 10;
  --boldui-zindex-dropdown: 1000;
  --boldui-zindex-sticky: 1100;
  --boldui-zindex-banner: 1200;
  --boldui-zindex-overlay: 1300;
  --boldui-zindex-modal: 1400;
  --boldui-zindex-popover: 1500;
  --boldui-zindex-skipLink: 1600;
  --boldui-zindex-toast: 1700;
  --boldui-zindex-tooltip: 1800;
}

@mixin misc {
  --boldui-removed-body-scroll-bar-size: 17px;

  /* Border Radius */
  --boldui-border-radius-small: 0.25rem;
  --boldui-border-radius-normal: 0.375rem;
  --boldui-border-radius-large: 0.5rem;
  --boldui-border-radius-pill: 9999px;
  --boldui-border-radius-circle: 50%;
}

:root {
  @include colors;
  @include typography;
  @include layout;
  @include transition;
  @include zIndex;
  @include misc;
}

/* Disables browser scrollbars */
.boldui--scroll-lock {
  overflow: hidden !important;
  overscroll-behavior: contain;
  position: relative !important;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 0;
  margin-top: 0;
  margin-right: var(--boldui-removed-body-scroll-bar-size) !important;
}
