@use "../../styles/common";

.Input__wrapper {
  @include common.common;

  --input-height: 2.25rem;
  --input-text-color: var(--boldui-color-grey-900);
  --input-placeholder-text-color: var(--boldui-color-grey-400);
  --input-background-color: white;
  --input-border-color: var(--boldui-color-grey-200);
  --input-border-width: 0.063rem;
  --input-border-radius: 0.25rem;
  --input-padding-left-right: 1rem;
  --input-outline-color: transparent;

  position: relative;
}

.Input {
  width: 100%;
  height: var(--input-height);
  padding: 0 var(--input-padding-left-right);
  color: var(--input-text-color);
  background-color: var(--input-background-color);
  border: var(--input-border-width) solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  font-size: var(--input-font-size);
  line-height: calc(var(--input-height) - 0.125rem);
  font-weight: 500;
  appearance: none;
  outline: none;
  box-shadow: 0 0 0 1px var(--input-outline-color);
  transition-property: box-shadow, border-color, background-color;
  transition-duration: var(--boldui-transition-duration-fast);

  &::placeholder {
    color: var(--input-placeholder-text-color);
  }
}

.Input__disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.Input__icon {
  width: var(--input-height);
  height: var(--input-height);
  font-size: var(--input-font-size);
  line-height: calc(var(--input-height) - 0.125rem);
  color: var(--input-placeholder-text-color);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition-property: color;
  transition-duration: var(--boldui-transition-duration-fast);
}
.Input__hasIcon.Input__compact .Input__icon {
  font-size: calc(var(--input-font-size) - 0.125rem);
}

/* Size */
.Input__sizeSmall {
  --input-height: 1.75rem;
  --input-padding-left-right: 0.625rem !important;
  --input-font-size: 0.75rem;
  --input-line-height: 1rem;

  &.Input__compact {
    --input-height: 1.5rem;
    --input-padding-left-right: 0.5rem;
  }
}

.Input__sizeDefault {
  --input-height: 2.25rem;
  --input-padding-left-right: 0.75rem;
  --input-font-size: 0.875rem;
  --input-line-height: 1.25rem;

  &.Input__compact {
    --input-height: 1.75rem;
    --input-padding-left-right: 0.625rem;
  }
}

.Input__sizeLarge {
  --input-height: 2.75rem;
  --input-padding-left-right: 0.875rem;
  --input-font-size: 1rem;
  --input-line-height: 1.5rem;

  &.Input__compact {
    --input-height: 2rem;
    --input-padding-left-right: 0.75rem;
  }
}

.Input__sizeXLarge {
  --input-height: 3.25rem;
  --input-padding-left-right: 1rem;
  --input-font-size: 1.125rem;
  --input-line-height: 1.75rem;

  &.Input__compact {
    --input-height: 2.25rem;
    --input-padding-left-right: 0.875rem;
  }
}

// Kind
.Input__kindDefault .Input {
  --input-border-color: var(--boldui-color-grey-200);

  &:not(:disabled):hover {
    --input-border-color: var(--boldui-color-grey-300);
  }

  &:focus-visible:focus-visible {
    --input-border-color: var(--boldui-color-primary);
    --input-outline-color: var(--boldui-color-primary);
    --input-background-color: white;
  }
}

.Input__kindFilled .Input {
  --input-border-color: var(--boldui-color-grey-200);
  --input-background-color: var(--boldui-color-grey-50);

  &:not(:disabled):hover {
    --input-border-color: var(--boldui-color-grey-300);
  }

  &:focus-visible:focus-visible {
    --input-border-color: var(--boldui-color-primary);
    --input-outline-color: var(--boldui-color-primary);
    --input-background-color: white;
  }
}

.Input__kindUnstyled {
  .Input {
    --input-border-color: transparent;
    --input-background-color: transparent;

    &:not(:disabled):hover {
      --input-border-color: transparent;
    }

    &:focus-visible:focus-visible:focus-visible {
      --input-border-color: transparent;
      --input-outline-color: transparent;
      --input-background-color: white;
    }
  }
}

// Others
.Input__success:not(.Input__kindUnstyled) {
  .Input {
    --input-border-color: var(--boldui-color-success);
    --input-background-color: var(--boldui-color-success-25);

    &:not(:disabled):hover {
      --input-border-color: var(--boldui-color-success);
    }
  }
}
.Input__success.Input__hasIcon {
  &.Input__hasValue .Input__icon {
    color: var(--boldui-color-success);
  }
}

.Input__error:not(.Input__kindUnstyled) {
  .Input {
    --input-border-color: var(--boldui-color-error);
    --input-background-color: var(--boldui-color-error-25);

    &:not(:disabled):hover {
      --input-border-color: var(--boldui-color-error);
    }
  }
}
.Input__error.Input__hasIcon {
  &.Input__hasValue .Input__icon {
    color: var(--boldui-color-error);
  }
}

.Input__hasIcon .Input {
  padding-left: var(--input-height);
}
.Input__hasIcon.Input__hasValue .Input__icon {
  color: var(--input-text-color);
}

// Clear button
.Input__clearableWrapper {
  height: 100%;
  position: absolute;
  right: calc(var(--input-padding-left-right) - 0.25rem);
  top: 0;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  .Input__clearableButton {
    padding: 2px;
    border: none;
    border-radius: 2px;
    color: var(--boldui-color-grey-400);
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    pointer-events: all;
    overflow: hidden;

    .Input__clearableButtonIcon {
      width: var(--input-font-size);
      height: var(--input-font-size);
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: var(--input-font-size);
        top: 50%;
        left: 0;
        background: var(--boldui-color-grey-300);
        border-radius: 2px;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      background: var(--boldui-color-grey-50);

      .Input__clearableButtonIcon {
        &::before,
        &::after {
          background: var(--boldui-color-grey-400);
        }
      }
    }
  }
}
.Input__clearable {
  .Input {
    padding-right: calc(
      var(--input-padding-left-right) + var(--input-font-size) + 0.25rem
    );
  }
}

// Remove default browser styling
.Input[type="search"]::-webkit-search-decoration,
.Input[type="search"]::-webkit-search-cancel-button,
.Input[type="search"]::-webkit-search-results-button,
.Input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
