@use "../../common";

.Input__wrapper {
  @include common.all;

  --input-height: 2.25rem;
  --input-border-color: var(--boldui-color-grey-200);
  --input-border-width: 0.063rem;
  --input-border-radius: 0.25rem;
  --input-padding-left-right: 1rem;

  position: relative;
}

.Input {
  width: 100%;
  height: var(--input-height);
  padding: 0 var(--input-padding-left-right);
  border: var(--input-border-width) solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  font-size: var(--input-font-size);
  line-height: calc(var(--input-height) - 0.125rem);
  font-weight: 500;
  color: var(--boldui-color-grey-900);
  appearance: none;
  outline: none;
  box-shadow: 0 0 0 1px transparent;
  transition-property: box-shadow, border-color;
  transition-duration: var(--boldui-transition-duration-normal);

  &:not(:disabled):hover {
    --input-border-color: var(--boldui-color-grey-300);
  }

  &:focus-visible:focus-visible {
    --input-border-color: var(--boldui-color-primary);
    box-shadow: 0 0 0 1px var(--boldui-color-primary);
  }

  &:disabled {
    color: var(--boldui-color-grey-400);
  }
}

.Input__icon {
  width: var(--input-height);
  height: var(--input-height);
  font-size: var(--input-font-size);
  line-height: calc(var(--input-height) - 0.125rem);
  color: var(--boldui-color-grey-300);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

/* Size */
.Input__sizeSmall {
  --input-height: 1.75rem;
  --input-padding-left-right: 0.625rem;
  --input-font-size: 0.75rem;
  --input-line-height: 1rem;

  &.Input__compact {
    --input-height: 1.5rem;
    --input-padding-left-right: 0.5rem;
  }
}

.Input__sizeDefault {
  --input-height: 2.25rem;
  --input-padding-left-right: 0.75rem;
  --input-font-size: 0.875rem;
  --input-line-height: 1.25rem;

  &.Input__compact {
    --input-height: 1.75rem;
    --input-padding-left-right: 0.625rem;
  }
}

.Input__sizeLarge {
  --input-height: 2.75rem;
  --input-padding-left-right: 0.875rem;
  --input-font-size: 1rem;
  --input-line-height: 1.5rem;

  &.Input__compact {
    --input-height: 2rem;
    --input-padding-left-right: 0.75rem;
  }
}

.Input__sizeXLarge {
  --input-height: 3.25rem;
  --input-padding-left-right: 1rem;
  --input-font-size: 1.125rem;
  --input-line-height: 1.75rem;

  &.Input__compact {
    --input-height: 2.25rem;
    --input-padding-left-right: 0.875rem;
  }
}

// Others
.Input__hasIcon .Input {
  padding-left: var(--input-height);
}

.Input__error .Input {
  --input-border-color: var(--boldui-color-error);
  &:not(:disabled):hover {
    --input-border-color: var(--boldui-color-error);
  }
}

.Input__success .Input {
  --input-border-color: var(--boldui-color-success);
  &:not(:disabled):hover {
    --input-border-color: var(--boldui-color-success);
  }
}
