@use "../../common" as *;

.Input {
  @include common;

  --input-border-radius: 0.25rem;
  --input-focus-border-color: black;

  padding: 0.5rem 0.75rem;
  border: 2px solid var(--boldui-color-grey-200);
  border-radius: var(--input-border-radius);
  appearance: none;
  user-select: none;

  &:focus-visible {
    outline: 0.125rem solid var(--boldui-color-primary);
    outline-offset: -0.125rem;
  }
}
