@mixin colors {
  --boldui-color-grey-900: #101828;
  --boldui-color-grey-800: #1d2939;
  --boldui-color-grey-700: #344054;
  --boldui-color-grey-600: #475467;
  --boldui-color-grey-500: #667085;
  --boldui-color-grey-400: #98a2b3;
  --boldui-color-grey-300: #d0d5dd;
  --boldui-color-grey-200: #e4e7ec;
  --boldui-color-grey-100: #f2f4f7;
  --boldui-color-grey-50: #f9fafb;
  --boldui-color-grey-25: #fcfcfd;
  --boldui-color-error: #d92d20;
  --boldui-color-success: #188d32;
  --boldui-color-warning: #dba301;
  --boldui-color-primary: #3366ff;
}

@mixin typography {
  --boldui-font-family: sans-serif;
}

@mixin common {
  @include colors;
  @include typography;

  /* Defaults */
  --boldui-focus-outline-color: black;

  &,
  &::before,
  &::after,
  & *,
  & *::before,
  & *::after {
    box-sizing: border-box;
  }

  font-family: var(--boldui-font-family);
}
