@mixin colors {
  --color-grey-100: #162130;
  --color-grey-90: #263238;
  --color-grey-80: #37474f;
  --color-grey-70: #455a64;
  --color-grey-60: #546e7a;
  --color-grey-50: #607d8b;
  --color-grey-40: #78909c;
  --color-grey-30: #90a4ae;
  --color-grey-20: #b0bec5;
  --color-grey-10: #cfd8dc;
  --color-grey-5: #eceff1;
  --boldui-color-danger: #c62828;
  --boldui-color-success: #2e7d32;
}

@mixin typography {
  --boldui-font-family: sans-serif;
}

@mixin common {
  @include colors;
  @include typography;

  /* Defaults */
  --boldui-primary-color: var(--color-grey-100);
  --boldui-focus-outline-color: black;

  &,
  &::before,
  &::after,
  & *,
  & *::before,
  & *::after {
    box-sizing: border-box;
  }

  font-family: var(--boldui-font-family);
}
