@use "../../styles/common";

.Modal {
  @include common.base;

  --modal-transition-duration: var(--boldui-transition-duration-normal);
  --modal-z-index: var(--boldui-zindex-modal);
  --modal-width: 28.5rem;
  --modal-padding: 1rem;

  position: relative;
  z-index: var(--modal-z-index);
}

.Modal__backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0rem;
  z-index: 10;
  pointer-events: none;

  /* Animate backdrop */
  transition-property: opacity;
  transition-duration: var(--modal-transition-duration);
  transition-timing-function: var(--boldui-transition-easing-ease);
  opacity: 0;
}

.Modal__inner {
  position: fixed;
  width: 100%;
  inset: 0;
  max-height: 100%;
  z-index: 20;
  pointer-events: none;
  padding: 5vh 5vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Modal__centered {
  .Modal__inner {
    align-items: center;
  }
}

.Modal__content {
  position: relative;
  background-color: white;
  border-radius: var(--boldui-border-radius-small);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.0625rem 0.1875rem,
    rgba(0, 0, 0, 0.05) 0px 2.25rem 1.75rem -0.4375rem,
    rgba(0, 0, 0, 0.04) 0px 1.0625rem 1.0625rem -0.4375rem;
  border: 1px solid var(--boldui-color-grey-200);
  pointer-events: none;
  flex: 0 0 var(--modal-width);
  max-width: 100%;
  max-height: calc(90vh);
  overflow-y: auto;

  /* Animate content */
  transition-property: transform, opacity;
  transition-duration: var(--modal-transition-duration);
  transition-timing-function: var(--boldui-transition-easing-ease);
  transform-origin: center center;
  opacity: 0;
  transform: scale(0.95);
}

.Modal__fullscreen {
  .Modal__inner {
    padding: 0;
  }
  .Modal__content {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100vh;
    border-radius: 0px;
    max-height: none;
  }
}

.Modal__header {
  position: sticky;
  top: 0;
  padding: var(--modal-padding);
  font-weight: 600;
  color: var(--boldui-color-primary);
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  z-index: 30;
}

.Modal__body {
  position: relative;
  padding: var(--modal-padding);
}

.Modal__hasHeader {
  .Modal__body {
    padding-top: 0.25rem;
  }
}

.Modal__closeButton {
  position: absolute;
  display: flex;
  top: 0.75rem;
  right: 0.75rem;
  color: var(--boldui-color-grey-500);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  z-index: 30;

  button {
    font-size: 1.125rem;
  }
}

.Modal__opened {
  .Modal__backdrop {
    pointer-events: auto;
  }
  .Modal__content {
    pointer-events: all;
  }
}

.Modal__transition {
  .Modal__backdrop {
    opacity: 1;
  }
  .Modal__content {
    opacity: 1;
    transform: scale(1);
  }
}

.Modal__noScroll {
  overflow: hidden !important;
  overscroll-behavior: contain;
  position: relative !important;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 0;
  margin-top: 0;
  margin-right: var(--boldui-removed-body-scroll-bar-size) !important;
}
