.Button {
  padding: 4px 8px;
  border: 2px solid black;
  background-color: white;
  border-radius: 4px;
}

.Button__hasDepth {
  border-bottom-width: 4px;

  &:active {
    transform: translateY(2px);
    border-bottom-width: 2px;
  }
}
